name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: CI
    uses: mmuhlariholdings/hlavi-workflows/.github/workflows/rust-ci.yml@main
    with:
      package-name: 'hlavi-tui'
